* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: sans-serif;
}

.full-page {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("https://www.elkinlavoe.com/wp-content/uploads/2021/11/poli-jic.jpeg") no-repeat center center fixed;
  background-size: cover;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
  z-index: -1;
}

.login-page {
  z-index: 2;
}

.form-box {
  width: 500px; /* antes estaba en 600px */
  padding: 30px;
  border-radius: 30px;
  background: rgba(0, 0, 0, 0.65);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
  position: relative;
  font-size: 14px; /* tamaño más pequeño para todo el texto interno */
}



.form-title h2 {
  text-align: center;
  color: white;
  margin-bottom: 25px;
}

.input-group-register {
  width: 100%;
  color: white;
}

.input-field {
  width: 100%;
  padding: 14px 10px;
  margin: 12px 0;
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  color: white;
  font-size: 16px;
}

.input-field::placeholder {
  color: #ccc;
}

select.input-field option {
  background-color: #222;
  color: white;
}

.submit-btn {
  width: 90%;
  padding: 14px;
  margin: 15px auto;
  display: block;
  background: #f17c02;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  color: black;
  text-decoration: none;
}

.submit-btn:hover {
  background-color: transparent;
  color: #f17c02;
  border: 2px solid #f17c02;
  font-size: 14px;
  padding: 8px 20px;
  height: 40px;
}

.submit-btn.cancel {
  background-color: transparent;
  color: #f17c02;
  border: 2px solid #f17c02;
  font-size: 14px;
  padding: 8px 20px;
  height: 40px;
}

.submit-btn.cancel:hover {
  background-color: #f17c02;
  color: black;
}

.check-box {
  margin-right: 10px;
}

.terms {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.terms span {
  color: #fff;
  font-size: 14px;
}

.error-msg {
  color: #ffffff;
  font-weight: bold;
  margin-top: 5px;
}

.form-box input,
.form-box select {
  font-size: 14px;
  padding: 8px 10px;
  height: 35px;
}

.form-box button {
  font-size: 14px;
  padding: 8px 20px;
  height: 40px;
}

.form-box label,
.form-box .terms-text {
  font-size: 12px;
}

