
    body {
      background: linear-gradient(to right, rgb(57, 58, 31), #3c7408);
    }

    .input-box input {
      width: 100%;
      height: 100%;
      background: #ffffff;
      border: none;
      outline: none;
      border: 2px solid rgba(255, 255, 255, .2);
      border-radius: 40px;
      font-size: 16px;
      color: #000000;
      padding: 20px 45px 20px 20px;
    }

    .input-box {
      width: 80%; 
      margin: 0 auto; 
    }

    .input-box .custom-input {
      width: 100%;
      height: 100%;
      background: #ffffff;
      border: 2px solid rgba(255, 255, 255, .2);
      border-radius: 40px;
      font-size: 16px;
      color: #000000;
      padding: 10px 45px 10px 20px; 
      box-sizing: border-box;
    }

    .container .btn {
      width: 80%; 
      height: 45px;
      background: #111010;
      border: none;
      outline: none;
      border-radius: 40px;
      box-shadow: 0 0 10px rgba(0, 0, 0, .1);
      cursor: pointer;
      font-size: 16px;
      color: #fffdfd;
      font-weight: 600;
      margin: 20px auto; 
    }

    .container .btn {
      width: 100%;
      height: 45px;
      background: #111010;
      border: none;
      outline: none;
      border-radius: 40px;
      box-shadow: 0 0 10px rgba(0, 0, 0, .1);
      cursor: pointer;
      font-size: 16px;
      color: #fffdfd;
      font-weight: 600;
    }
